{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous".
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand" href="#">TerDU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button class="btn btn-outline-primary px-4 py-1 mx-1" data-bs-toggle="modal" href="#exampleModalToggle" role="button" {% if length < 2 %}disabled{% endif %}><i class="fa-solid fa-arrow-right-arrow-left"></i> Solishtirish</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-primary px-4 py-1 mx-1" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"><i class="fa-regular fa-clipboard"></i> Barcha natijalar</button>
            </li>
            <li class="nav-item">
              <a href="{% url 'clear' %}" class="btn btn-outline-primary px-4 py-1 mx-1"><i class="fa-solid fa-trash"></i> O'chirish</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="box">
      <div class="row justify-content-center align-items-center">
        <div class="col-3">
          <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <label class="form-label" for="C0">Enter a C0:</label>
                <input class="form-control" type="text" name="C0" required />

                <label class="form-label" for="vm">Enter a vm:</label>
                <input class="form-control" type="text" name="vm" required />

                <label class="form-label" for="Dm">Enter a Dm:</label>
                <input class="form-control" type="text" name="Dm" required />

                <label class="form-label" for="n">Enter a n:</label>
                <input class="form-control" type="text" name="n" required />

                <label class="form-label" for="tau">Enter a tau:</label>
                <input class="form-control" type="text" name="tau" required />

                <label class="form-label" for="h">Enter a h:</label>
                <input class="form-control" type="text" name="h" required />

                <label class="form-label" for="tmax">Enter a tmax:</label>
                <input class="form-control" type="text" name="tmax" required />
              </div>
              <div class="col-6 position-relative">
                <label class="form-label" for="w">Enter a w:</label>
                <input class="form-control" type="text" name="w" required />

                <label class="form-label" for="tetim">Enter a tetim:</label>
                <input class="form-control" type="text" name="tetim" required />

                <label class="form-label" for="tetm">Enter a tetm:</label>
                <input class="form-control" type="text" name="tetm" required />

                <label class="form-label" for="gam">Enter a gam:</label>
                <input class="form-control" type="text" name="gam" required />

                <label class="form-label" for="alpha">Enter a alpha:</label>
                <input class="form-control" type="text" name="alpha" required />

                <label class="form-label" for="bet">Enter a bet:</label>
                <input class="form-control" type="text" name="bet" required />

                <label class="form-label" for="bet">.</label>
                <input
                  type="submit"
                  class="form-control btn btn-primary"
                  value="Hisoblash"
                  name="submit"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="col-7 d-flex justify-content-center">
          <div class="diogram">
            {% if plot_data %}
              <img src="data:image/png;base64,{{ plot_data }}" alt="Histogram" style="width: 640px; height: 480px">
            {% endif %}
          </div>
        </div>
        <div class="col-2">
          <p class="h6 mb-3">C0: {{ C0 }}</p>
          <p class="h6 mb-3">vm: {{ vm }}</p>
          <p class="h6 mb-3">Dm: {{ Dm }}</p>
          <p class="h6 mb-3">n: {{ n }}</p>
          <p class="h6 mb-3">tau: {{ tau }}</p>
          <p class="h6 mb-3">h: {{ h }}</p>
          <p class="h6 mb-3">tmax: {{ tmax }}</p>
          <p class="h6 mb-3">w: {{ w }}</p>
          <p class="h6 mb-3">tetim: {{ tetim }}</p>
          <p class="h6 mb-3">tetm: {{ tetm }}</p>
          <p class="h6 mb-3">gam: {{ gam }}</p>
          <p class="h6 mb-3">alpha: {{ alpha }}</p>
          <p class="h6 mb-3">bet: {{ bet }}</p>
        </div>
    </div>



    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Solishtirish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-10">
                    {% if plot_data %}
                      <img src="data:image/png;base64,{{ plot_data }}" alt="Histogram" class="img-fluid">
                    {% endif %}
                  </div>
                  <div class="col-2">
                    <p class="mb-3 {% if C0 > plot_1.C0 %}text-success{% elif C0 < plot_1.C0 %}text-danger{% else %}text-primary{% endif %}">C0: {{ C0 }}</p>
                    <p class="mb-3 {% if vm > plot_1.vm %}text-success{% elif vm < plot_1.vm %}text-danger{% else %}text-primary{% endif %}">vm: {{ vm }}</p>
                    <p class="mb-3 {% if Dm > plot_1.Dm %}text-success{% elif Dm < plot_1.Dm %}text-danger{% else %}text-primary{% endif %}">Dm: {{ Dm }}</p>
                    <p class="mb-3 {% if n > plot_1.n %}text-success{% elif n < plot_1.n %}text-danger{% else %}text-primary{% endif %}">n: {{ n }}</p>
                    <p class="mb-3 {% if tau > plot_1.tau %}text-success{% elif tau < plot_1.tau %}text-danger{% else %}text-primary{% endif %}">tau: {{ tau }}</p>
                    <p class="mb-3 {% if h > plot_1.h %}text-success{% elif h < plot_1.h %}text-danger{% else %}text-primary{% endif %}">h: {{ h }}</p>
                    <p class="mb-3 {% if tmax > plot_1.tmax %}text-success{% elif tmax < plot_1.tmax %}text-danger{% else %}text-primary{% endif %}">tmax: {{ tmax }}</p>
                    <p class="mb-3 {% if w > plot_1.w %}text-success{% elif w < plot_1.w %}text-danger{% else %}text-primary{% endif %}">w: {{ w }}</p>
                    <p class="mb-3 {% if tetim > plot_1.tetim %}text-success{% elif tetim < plot_1.tetim %}text-danger{% else %}text-primary{% endif %}">tetim: {{ tetim }}</p>
                    <p class="mb-3 {% if tetm > plot_1.tetm %}text-success{% elif tetm < plot_1.tetm %}text-danger{% else %}text-primary{% endif %}">tetm: {{ tetm }}</p>
                    <p class="mb-3 {% if gam > plot_1.gam %}text-success{% elif gam < plot_1.gam %}text-danger{% else %}text-primary{% endif %}">gam: {{ gam }}</p>
                    <p class="mb-3 {% if alpha > plot_1.alpha %}text-success{% elif alpha < plot_1.alpha %}text-danger{% else %}text-primary{% endif %}">alpha: {{ alpha }}</p>
                    <p class="mb-3 {% if bet > plot_1.bet %}text-success{% elif bet < plot_1.bet %}text-danger{% else %}text-primary{% endif %}">bet: {{ bet }}</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-2">
                    <p class="mb-3 {% if C0 < plot_1.C0 %}text-success{% elif C0 > plot_1.C0 %}text-danger{% else %}text-primary{% endif %}">C0: {{ plot_1.C0 }}</p>
                    <p class="mb-3 {% if vm < plot_1.vm %}text-success{% elif vm > plot_1.vm %}text-danger{% else %}text-primary{% endif %}">vm: {{ plot_1.vm }}</p>
                    <p class="mb-3 {% if Dm < plot_1.Dm %}text-success{% elif Dm > plot_1.Dm %}text-danger{% else %}text-primary{% endif %}">Dm: {{ plot_1.Dm }}</p>
                    <p class="mb-3 {% if n < plot_1.n %}text-success{% elif n > plot_1.n %}text-danger{% else %}text-primary{% endif %}">n: {{ plot_1.n }}</p>
                    <p class="mb-3 {% if tau < plot_1.tau %}text-success{% elif tau > plot_1.tau %}text-danger{% else %}text-primary{% endif %}">tau: {{ plot_1.tau }}</p>
                    <p class="mb-3 {% if h < plot_1.h %}text-success{% elif h > plot_1.h %}text-danger{% else %}text-primary{% endif %}">h: {{ plot_1.h }}</p>
                    <p class="mb-3 {% if tmax < plot_1.tmax %}text-success{% elif tmax > plot_1.tmax %}text-danger{% else %}text-primary{% endif %}">tmax: {{ plot_1.tmax }}</p>
                    <p class="mb-3 {% if w < plot_1.w %}text-success{% elif w > plot_1.w %}text-danger{% else %}text-primary{% endif %}">w: {{ plot_1.w }}</p>
                    <p class="mb-3 {% if tetim < plot_1.tetim %}text-success{% elif tetim > plot_1.tetim %}text-danger{% else %}text-primary{% endif %}">tetim: {{ plot_1.tetim }}</p>
                    <p class="mb-3 {% if tetm < plot_1.tetm %}text-success{% elif tetm > plot_1.tetm %}text-danger{% else %}text-primary{% endif %}">tetm: {{ plot_1.tetm }}</p>
                    <p class="mb-3 {% if gam < plot_1.gam %}text-success{% elif gam > plot_1.gam %}text-danger{% else %}text-primary{% endif %}">gam: {{ plot_1.gam }}</p>
                    <p class="mb-3 {% if alpha < plot_1.alpha %}text-success{% elif alpha > plot_1.alpha %}text-danger{% else %}text-primary{% endif %}">alpha: {{ plot_1.alpha }}</p>
                    <p class="mb-3 {% if bet < plot_1.bet %}text-success{% elif bet > plot_1.bet %}text-danger{% else %}text-primary{% endif %}">bet: {{ plot_1.bet }}</p>
                  </div>
                  <div class="col-10">
                    <img src="data:image/png;base64,{{ plot_1.plot_data }}" alt="plot" class="img-fluid">
                  </div>
              </div>
            </div>
          </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Barcha natijalar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for plot in plot_buffer_list %}
            <div class="row">
              <div class="col-10">
                <img src="data:image/png;base64,{{ plot.plot_data }}" alt="plot" class="img-fluid">
              </div>
              <div class="col-2">
                <p class="h6 mb-3">C0: {{ plot.C0 }}</p>
                <p class="h6 mb-3">vm: {{ plot.vm }}</p>
                <p class="h6 mb-3">Dm: {{ plot.Dm }}</p>
                <p class="h6 mb-3">n: {{ plot.n }}</p>
                <p class="h6 mb-3">tau: {{ plot.tau }}</p>
                <p class="h6 mb-3">h: {{ plot.h }}</p>
                <p class="h6 mb-3">tmax: {{ plot.tmax }}</p>
                <p class="h6 mb-3">w: {{ plot.w }}</p>
                <p class="h6 mb-3">tetim: {{ plot.tetim }}</p>
                <p class="h6 mb-3">tetm: {{ plot.tetm }}</p>
                <p class="h6 mb-3">gam: {{ plot.gam }}</p>
                <p class="h6 mb-3">alpha: {{ plot.alpha }}</p>
                <p class="h6 mb-3">bet: {{ plot.bet }}</p>
              </div>
            </div>
            <hr>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <a href="{% url 'clear' %}" class="btn btn-outline-primary px-4 py-1 mx-1">Reset</a>
          </div>
        </div>
      </div>
    </div>



  <!--  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->


    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
